.block {
  width: 500px;
  height: 500px;
  background: #cccccc;
  position: relative;
}

.block-element {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  text-transform: uppercase;
  font-family: sans-serif;
}


@media (max-aspect-ratio: 21/9) {
  .block {
    background: #808080;
  }
}

@media (max-aspect-ratio: 16/9) {
  .block {
    background: #ffff00;
  }
}

@media (max-aspect-ratio: 14/10) {
  .block {
    background: #0000ff;
  }
}

@media (max-aspect-ratio: 4/3) {
  .block {
    background: #ee82ee;
  }
}

@media (max-aspect-ratio: 4/2) {
  .block {
    background: #000000;
  }
}

@media (max-aspect-ratio: 3/2) {
  .block {
    background: #8b4513;
  }
}

@media (max-aspect-ratio:2/1) {
  .block {
    background: #ffc0cb;
  }
}
